body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h4 {
    color: white;
}

.driversHeader {
    text-align: left;    
}

.cardStyling {
    margin-bottom: 2%;
    /* background-color: transparent; */
}

.cardOpacity {
}